CompileFlags:
  Add:
    - "-I../libavr32/asf/../../src"
    - "-I../libavr32/asf/../conf"
    - "-I../libavr32/asf/../conf/trilogy"
    - "-I../libavr32/asf/../libavr32/src"
    - "-I../libavr32/asf/../src"
    - "-I../libavr32/asf/../src/usb"
    - "-I../libavr32/asf/../src/usb/cdc"
    - "-I../libavr32/asf/../src/usb/ftdi"
    - "-I../libavr32/asf/../src/usb/hid"
    - "-I../libavr32/asf/../src/usb/midi"
    - "-I../libavr32/asf/../src/usb/msc"
    - "-I../libavr32/asf/avr32/boards"
    - "-I../libavr32/asf/avr32/drivers/cpu/cycle_counter"
    - "-I../libavr32/asf/avr32/drivers/flashc"
    - "-I../libavr32/asf/avr32/drivers/gpio"
    - "-I../libavr32/asf/avr32/drivers/intc"
    - "-I../libavr32/asf/avr32/drivers/pm"
    - "-I../libavr32/asf/avr32/drivers/spi"
    - "-I../libavr32/asf/avr32/drivers/tc"
    - "-I../libavr32/asf/avr32/drivers/twi"
    - "-I../libavr32/asf/avr32/drivers/usart"
    - "-I../libavr32/asf/avr32/drivers/usbb"
    - "-I../libavr32/asf/avr32/services/fs/fat"
    - "-I../libavr32/asf/avr32/utils"
    - "-I../libavr32/asf/avr32/utils/debug"
    - "-I../libavr32/asf/avr32/utils/preprocessor"
    - "-I../libavr32/asf/common/boards"
    - "-I../libavr32/asf/common/boards/user_board"
    - "-I../libavr32/asf/common/services/clock"
    - "-I../libavr32/asf/common/services/delay"
    - "-I../libavr32/asf/common/services/spi/uc3_spi"
    - "-I../libavr32/asf/common/services/storage/ctrl_access"
    - "-I../libavr32/asf/common/services/usb/"
    - "-I../libavr32/asf/common/services/usb/class/hid"
    - "-I../libavr32/asf/common/services/usb/class/msc"
    - "-I../libavr32/asf/common/services/usb/class/msc/host"
    - "-I../libavr32/asf/common/services/usb/uhc"
    - "-I../libavr32/asf/common/utils"
    - "-Ilibavr32/src"
